* {
    margin: 0;
    padding: 0;
}

.modalOverlay {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    .modalBox {
        display: flex;
        background: white;
        width: 70%;
        height: 70%;
        padding: 1rem;
        border-radius: 1rem;
        justify-content: center;
    }
}