$base-bgcolor : #354152;
$base-color : #7e8ba3;
$base-text : #6b6d62;
$text : #fff;
$nav-button-left:12px;
$nav-text-left:100px;

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d242d;

    .menu {
        position: relative;
        padding: 30px;
        background: #35415208;
        border-radius: 100%;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            background: $base-color;
            border-radius: 5px;
            width: 30px;
            height: 5px;
            position: absolute;
            left: 25px;
            top: 25px;
            transition: 0.2s ease;
        }

        &::before {
            transform: rotate(0deg);
        }

        &::after {
            transform: rotate(-90deg);
        }

        &.open {
            z-index: 1;
            opacity: 0.9;

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }

            .nav_button {
                opacity: 1;
                pointer-events: auto;

                &:first-of-type {
                    left: $nav-button-left;
                    bottom: -70px;
                    background: url('https://bassets.github.io/cam.svg') no-repeat 50%/50% #e8e8f3;
                }

                &:nth-of-type(2) {
                    left: $nav-button-left;
                    bottom: -140px;
                    background: url('https://bassets.github.io/img.svg') no-repeat 50%/ 50% #e8e8f3;
                    transition-delay: 0.05s;
                }

                &:nth-of-type(3) {
                    left: $nav-button-left;
                    bottom: -210px;
                    background: url('https://bassets.github.io/img.svg') no-repeat 50%/ 50% #e8e8f3;
                    transition-delay: 0.1s;
                }

                &:nth-of-type(4) {
                    left: $nav-button-left;
                    bottom: -280px;
                    background: url('https://bassets.github.io/img.svg') no-repeat 50%/ 50% #e8e8f3;
                    transition-delay: 0.15s;
                }

                &:nth-of-type(5) {
                    left: $nav-button-left;
                    bottom: -350px;
                    background: url('https://bassets.github.io/img.svg') no-repeat 50%/ 50% #e8e8f3;
                    transition-delay: 0.2s;
                }

                &:nth-of-type(6) {
                    left: $nav-button-left;
                    bottom: -420px;
                    background: url('https://bassets.github.io/img.svg') no-repeat 50%/ 50% #e8e8f3;
                    transition-delay: 0.25s;
                }

                &:nth-of-type(7) {
                    left: $nav-button-left;
                    bottom: -490px;
                    background: url('https://bassets.github.io/img.svg') no-repeat 50%/ 50% #e8e8f3;
                    transition-delay: 0.3s;
                }

                &:last-of-type {
                    left: $nav-button-left;
                    bottom: -560px;
                    background: url('https://bassets.github.io/music.svg') no-repeat 50% 45%/50% 45% #e8e8f3;
                    transition-delay: 0.35s;
                }
            }
        }

        .home {
            display: none;
            position: absolute;
            top: 90px;
            left: $nav-text-left;
            z-index: 1;
        }

        .home1 {
            display: none;
            position: absolute;
            top: 160px;
            left: $nav-text-left;
        }

        .home2 {
            display: none;
            position: absolute;
            top: 230px;
            left: $nav-text-left;
        }

        .nav_button {
            padding: 30px;
            border-radius: 50%;
            cursor: pointer;
            background: #e8e8f3;
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: 0;
            pointer-events: none;
            box-shadow: 0px 0px 10px 5px #15191f;
            transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.1s ease opacity;

            &:hover+.home {
                transform: scale(1.1);
                display: block;
            }

            &:hover+.home1 {
                transform: scale(1.1);
                display: block;
            }

            &:hover+.home2 {
                transform: scale(1.1);
                display: block;
            }

            .nav_link {
                position: absolute;
                left: 0;
                top: 0;
                text-decoration: none;
                color: $base-color;
                font-weight: 600;
                width: 60px;
                height: 60px;
            }

            .nav_link:hover {
                color: white;
            }
        }
    }

    .links {
        margin: 0 60px 0 0;

        .signup {
            margin: 0 0 0 30px;
        }

        a {
            text-decoration: none;
            font-weight: 500;
            color: $base-color;
        }

        a:hover {
            color: $text;
        }

        .navbar_profile_logout {
            display: flex;
            margin: 0 0 0 30px;
            color: $base-color;
        }

        .profile {
            margin: 0 30px 0 0;
        }

        .profile:hover {
            color: $text;
        }

        .logout:hover {
            color: $text;
        }
    }
}