.navBar {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background-color: #1d242d;

    .menu {
        position     : relative;
        padding      : 30px;
        background   : #35415208;
        border-radius: 100%;
        cursor       : pointer;

        &::before,
        &::after {
            content      : '';
            background   : #7e8ba3;
            border-radius: 5px;
            width        : 30px;
            height       : 5px;
            position     : absolute;
            left         : 25px;
            top          : 25px;
            transition   : 0.2s ease;
        }

        &::before {
            transform: rotate(0deg);
        }

        &::after {
            transform: rotate(-90deg);
        }

        &.open {
            z-index: 1;
            opacity: 0.9;

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }

            .button {
                opacity       : 1;
                pointer-events: auto;

                &:first-of-type {
                    bottom    : -70px;
                    left      : 20%;
                    background: url('https://bassets.github.io/cam.svg') no-repeat 50%/50% #e8e8f3;
                }

                &:nth-of-type(2) {
                    bottom          : -140px;
                    left            : 20%;
                    background      : url('https://bassets.github.io/img.svg') no-repeat 50%/ 50% #e8e8f3;
                    transition-delay: 0.05s;
                }

                &:nth-of-type(3) {
                    bottom          : -210px;
                    left            : 20%;
                    background      : url('https://bassets.github.io/img.svg') no-repeat 50%/ 50% #e8e8f3;
                    transition-delay: 0.05s;
                }

                &:nth-of-type(4) {
                    bottom          : -280px;
                    left            : 20%;
                    background      : url('https://bassets.github.io/img.svg') no-repeat 50%/ 50% #e8e8f3;
                    transition-delay: 0.1s;
                }

                &:nth-of-type(5) {
                    bottom          : -350px;
                    left            : 20%;
                    background      : url('https://bassets.github.io/img.svg') no-repeat 50%/ 50% #e8e8f3;
                    transition-delay: 0.25s;
                }

                &:nth-of-type(6) {
                    bottom          : -430px;
                    left            : 20%;
                    background      : url('https://bassets.github.io/img.svg') no-repeat 50%/ 50% #e8e8f3;
                    transition-delay: 0.3s;
                }

                &:nth-of-type(7) {
                    bottom          : -500px;
                    left            : 20%;
                    background      : url('https://bassets.github.io/img.svg') no-repeat 50%/ 50% #e8e8f3;
                    transition-delay: 0.35s;
                }

                &:last-of-type {
                    bottom          : -570px;
                    left            : 20%;
                    background      : url('https://bassets.github.io/music.svg') no-repeat 50% 45%/50% 45% #e8e8f3;
                    transition-delay: 0.4s;
                }

            }
        }

        .button {
            padding       : 30px;
            border-radius : 50%;
            cursor        : pointer;
            background    : #e8e8f3;
            position      : absolute;
            bottom        : 0;
            right         : 0;
            opacity       : 0;
            pointer-events: none;
            box-shadow    : 0px 0px 10px 5px #15191f;
            transition    : 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .links {
        margin: 0 60px 0 0;

        .signup {
            margin: 0 0 0 30px;
        }

        a {
            text-decoration: none;
            font-weight    : 500;
            color          : #7e8ba3;

        }

        a:hover {
            color: #ffffff;
        }
    }

}