$error: rgba(241, 83, 83, 0.171);


.imageBottom {
    position: absolute;
    z-index: 1;

    .clickDrop {
        .uploadImage {
            cursor: pointer;
            height: 200px;
            width: 200px;
            top: 4px;
            z-index: 2;
            text-align: center;
        }

        .imageItem {
            left: 0;
            top: -2px;
            position: absolute;
            height: 200px;
            width: 200px;

            img {
                height: 200px;
                width: 200px;
                object-fit: cover;
                border-radius: 20%;
            }
        }

        img {
            top: -2px;
            left: -1px;
            position: absolute;
            height: 200px;
            width: 200px;
            object-fit: cover;
            z-index: -1;
            border-radius: 20%;
        }

        .profileError {
            position: absolute;
            background-color: $error;
            margin-top: 20px;
            line-height: 30px;
            font-size: 20px;
            text-align: center;
            width: 100%;
        }

    }
}