.lightBox {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;

    .close {
        position: absolute;
        font-size: 30px;
        content: "✖";
        cursor: pointer;
        left: 90%;
        top: 65px;
    }

    .close:hover {
        background-color: rgba(136, 54, 54, 0.226);
    }

    .swiper {
        display: flex;

        img {
            height: 60%;
            object-fit: cover;
            height: 70vh;
        }
    }

    .arrow {
        display: flex;
        position: absolute;
        color: white;
        top: 50vh;
        width: 100%;
        justify-content: space-between;

        .right {
            font-size: 30px;
            z-index: 1;
            margin: 0 0 0 2%;
            cursor: pointer;
        }

        .left {
            font-size: 30px;
            z-index: 1;
            margin: 0 2% 0 0;
            cursor: pointer;
        }

        .right:hover {
            color: #7e8ba3;
        }

        .left:hover {
            color: #7e8ba3;
        }
    }
}

.cursor {
    cursor: pointer;
}