.lightBox {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;


    .close {
        position: absolute;
        z-index: 2;
        font-size: 30px;
        content: "✖";
        cursor: pointer;
        left: 90%;
        top: 8%;
    }

    .bigImg {
        display: flex;
        position: absolute;
        top: 15vh;
        height: 80vh;
        width: 200%;
        z-index: 9999;

        img {
            width: 20%;
            height: 90%;
            object-fit: cover;
            padding: 1em;
        }
    }
}

.cursor {
    cursor: pointer;
}