.lightBox {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;

    .close {
        position: absolute;
        font-size: 30px;
        content: "✖";
        cursor: pointer;
        left: 90%;
        top: 65px;
    }

    .swiper {
        display: flex;
        width: 100%;

        img {
            height: 70%;
            object-fit: cover;
            padding: 0 2em;
            width: 800px;
        }
    }
}

.cursor {
    cursor: pointer;
}